/*
    components: input.scss
*/

.input {
  width: 100%;
  border: none;
  border-radius: $border-rounded;

  &--primary {
    border: 1px solid $color-text-primary;
    font-size: 16px;
    font-weight: bold;

    &::placeholder {
      font-weight: normal;
    }

    &:focus {
      outline: none;
    }
  }

  // sizes
  &--base {
    padding: 12px 12px 12px 68px;
  }

  // icon
  &--icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
}
