/*
    base: base-styles.scss
*/

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a,
.anchor {
  cursor: pointer;
  text-decoration: none;
}
